[Unit]
Wants=network-online.target
Description=Nullmailer relay-only MTA
After=local-fs.target
ConditionPathExists=/var/spool/nullmailer/queue
Documentation=man:nullmailer(7)

[Service]
WorkingDirectory=/var/spool/nullmailer
ExecStart=/usr/sbin/nullmailer-send
User=mail
Group=mail
Restart=always

[Install]
WantedBy=multi-user.target
